.sidebar-left
  .profile-card
    %a.profile-card-back-img{:href => ""}
      %img{:alt => "", :src => ""}
    .profile-content
      %a.profile-card-me-img{:href => ""}
        %img{:alt => "", :src => ""}
      .profile-card-user-fields
        .profile-card-username
          Seeeesh!!!
          %i.fa.fa-lock
        .profile-card-idname
          %a.user-edit
            = link_to users_path(current_user) do
              @seeeesh
      .ProfileCardStatus
        %ul.ProfileCardStatus-statuslist
          %li.ProfileCardStatus-status
            %span.u-block
              ツイート
            %span.value
              1,999
          %li.ProfileCardStatus-status
            %span.u-block
              フォロー
            %span.value
              1,999
          %li.ProfileCardStatus-status
            %span.u-block
              フォロワー
            %span.value
              1,999
  .follow-request
    .follow-request-module
      %a.follow-request-btn{:href => ""} 10件の新しいフォローリクエスト
  .trends
    .trends-inner
      .trends-inner-header
        東京のトレンド
      .trends-inner-list
        .trends-name
          鬱フェス
        .trends-count
          3,123件のツイート
      .trends-inner-list
        .trends-name
          Vitamin C
        .trends-count
          3,333件のツイート
