.sidebar-right
  .sidebar-right--top
    .sidebar-right--top--recomend
      %h2.recomend-user
        おすすめユーザー
      .sidebar-right--top--recomend-list
        %li.update
          更新する
        %li.see
          全てを見る
    .sidebar-right--top--list
      .profile-content
        %a.friends{:href => ""}
          %img{:alt => "", :src => ""}
        .profile-card-user-fields
          .profile-card-username
            kkkkkkkk
          .profile-card-id-name
            @milf
    .sidebar-right--top--find
      知り合いを見つけましょう
  .sidebar-right--bottom
    .sidebar-right--bottom--list
      %li.about
        twitter
      %li.about
        twitter
      %li.about
        twitter
      %li.about
        twitter
    .sidebar-right--bottom--advertisement
      Twitter広告
