.topbar
  .topbar-nav
    .topbar-nav-inner
      .container
        %h1
          %i.fa.fa-twitter.fa-2x
        .nav-left
          %ul#global-action.nav.global
            %li.gloval-nav--home
              %i.fa.fa-home.fa-2x
              %span.text
                HOME
            %li.gloval-nav--moment
              %i.fa.fa-bolt.fa-2x
              %span.text
                Moment
            %li.gloval-nav--notifications
              %i.fa.fa-bell-o.fa-2x
              %span.text
                Notifications
            %li.gloval-nav--dm
              %i.fa.fa-envelope-o.fa-2x
              %span.text
                Message
        .nav-right
          .search
            %form.t1-form
              %input.search-input{:placeholder => "キーワード検索"}
              %i.fa.fa-search
            %ul.nav.right-actions
              %li.me
                %a.user-profile
                  = image_tag current_user.image, size: '35x35' if current_user.image.present?
              %li.topbar-tweet-btn
                %ul.new-tweet-btn
                  %span.text
                    ツイート
