.tweet
  .profile-pic
    %img{:alt => "", :src => "foo.png"}/
  .user-info
    .user-name
      jojo
    .user-nickname
      @jojojojo
    .time
      12345日
  .tweet-text
    今年も残り4か月！
  .tweet-pic
  .tweet-footer
    .tweet-footer__reply
      .tweet-footer__reply--button
        %i.fa.fa-comment-o
      .tweet-footer__reply--count
        12
    .tweet-footer__retweet
      .tweet-footer__retweet--button
        %i.fa.fa-retweet
      .tweet-footer__retweet--count
        43
    .tweet-footer__favorite
      .tweet-footer__favorite--button
        %i.fa.fa-thumbs-o-up
      .tweet-footer__favorite--count
        666
    .tweet-footer__dm
      .tweet-footer__dm--button
        %i.fa.fa-envelope-o
      .tweet-footer__dm--count
        888
