.sidebar-right{
  float: left;
  .sidebar-right--top{
    margin-bottom: 10px;
    border: 1px solid #e6ecf0;
    .sidebar-right--top--recomend{
      background-color: #fff;
      padding: 15px;
      line-height: 16px;
      @include clearfix();
      .recomend-user{
        float: left;
      }
    }
    .sidebar-right--top--list{
      background-color: #fff;
      .user-profile{
        .profile-pic {
          display:inline-block;
          height: 50px;
          width: 50px;
          border-radius: 5px;
          overflow: hidden;
        }
        .user-info{
          display:inline-block;
        }
      }
    }
    .sidebar-right--top--find{
      border: 1px solid #e6ecf0;
      background-color: #fff;
      font-size: 10px;
    }
  }
  .sidebar-right--bottom{
    .sidebar-right--bottom--list{
      border: 1px solid #e6ecf0;
      background-color: #fff;
      .about{
        list-style: none;
      }
    }
    .sidebar-right--bottom--advertisement{
      border: 1px solid #e6ecf0;
      background-color: #fff;
    }
  }
}
