.sidebar-left{
  float: left;
  width: 290px;
  height: 290px;
  .profile-card{
    margin-bottom: 10px;
    background-color: black;
    .profile-card-back-img img{
    height: 100px;
    width: 100%;
    overflow: hidden;
    }
  }
  .profile-content{
    margin-top: -10px;
    background-color: #fff;

    .profile-card-me-img img{
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin-left: 10px;
      margin-top:-20px;
      margin-bottom: 20px;
      border: 5px solid #FFF;
    }

    .profile-card-user-fields{
      position: absolute;
      top: 180px;
      left: 90px;
      width: 185px;
      a{
        text-decoration: none;
        color: black;
      }
    }

    .ProfileCardStatus{
      padding: 16px;
      margin-top: 5px;

      .ProfileCardStatus-statuslist{
        box-sizing: border-box;
        display: table;
        margin: 0;
        min-width: 100%;
        padding: 0;
      }

        .ProfileCardStatus-status{
          float: left;
          padding-right: 10px;

            .u-block{
              font-size: 12px;
              display: block;
            }
        }
    }
  }
  .follow-requet{
    margin-bottom: 10px;

    .follow-request-btn{
      background-color: #fff;
      border: 1px solid #03F754;
      font-weight: bold;
      border-radius: 100px;
    }
  }
  .trends{
    background-color: #fff;
    border: 1px solid #fff;
    padding: 15px;

    .trends-inner-header{
      line-height: 20px;
      margin-bottom: 10px;
    }
    .trends-inner-list{
      .torends-name{
        line-height: 17px;
      margin-bottom: 10px;
      }
      .trends-count{
        line-height: 10px;
        font-size: 10px;
      }
    }
  }
}
