.topbar{
  border-bottom: 1px solid #e6ecf0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5000;

    .topbar-nav{
      border-bottom: 1px solid rgba(0,0,0,0.25);
      height: 46px;
      position: relative;
      width: 100%;
    }
      .topbar-nav-inner{
        background: #fff;
        height: 46px;

        .container{
          max-width: 1190px;
          background-color: #fff;
          height: 100%;
          margin: 0 auto;

            h1{
              background-color: white;
              display: inline-block;
              width: 24px;
              height: 21px;
              position: absolute;
              left: 50%;
              margin-left: -12px;
            }

              .fa.fa-twitter{
                position: absolute;
                left: 50%;
                margin-left: -12px;
                color: #03F754;
                margin-top: 8px;
              }
            .nav-left{
              background-color: #fff;
              float: left;
                .gloval-nav-home{
                  height: 46px;
                  float: left;
                    .fa.fa-home{
                      float:left;
                      margin: 11px;
                      width: 23px;
                      height: 23px;
                    }
                    .text{
                      float: left;
                      margin-left: 3px;
                      margin-top: 17px;
                      padding: 0;
                    }
                }
                .gloval-nav-moment{
                  height: 46px;
                  overflow: hidden;
                  float: left;
                    .fa.fa-bolt{
                      float:left;
                      margin: 11px 0 0 10px;
                      width: 23px;
                      height: 23px;
                    }
                    .text{
                      float: left;
                      margin-left: 3px;
                      margin-top: 17px;
                      padding: 0;
                    }
                }
                .gloval-nav-notifications{
                  height: 46px;
                  overflow: hidden;
                  float: left;
                    .fa.fa-bell-o{
                      float:left;
                      margin: 11px;
                      width: 23px;
                      height: 23px;
                    }
                    .text{
                      float: left;
                      margin-left: 3px;
                      margin-top: 17px;
                      padding: 0;
                    }
                }
                .gloval-nav-dm{
                  height: 46px;
                  overflow: hidden;
                  float: left;
                    .fa.fa-envelope-o{
                      float:left;
                      margin: 11px;
                      width: 23px;
                      height: 23px;
                    }
                    .text{
                      float: left;
                      margin-left: 3px;
                      margin-top: 17px;
                      padding: 0;
                    }
                }
            }

            .nav-right{
              float: right;
              background-color: #fff;
              display: flex;

              .search{
                height: 100%;

                .t1-form{
                  float: left;
                  height: 33px;
                  margin: 8px 15px 0 0;
                  font-size: 12px;


                  .search-input{
                    padding: 4px ;
                    border-radius: 21px;
                    width: 221px;
                  }
                    .fa.fa-search{
                      position: absolute;
                      top: 15px;
                      right: 265px;
                      height: 26px;
                      width: 26px;

                    }
                }
                .nav{
                  float: left;
                  height: 100%;
                  .me{
                    position: relative;
                    height: 32px;
                    width: 32px;
                    float:left;
                    margin-top: 6px;

                    .user-profile img{
                      background-color: white;
                      border-radius: 50%;
                    }
                  }
                  .topbar-tweet-btn{
                    float: left;
                    margin-left: 16px;
                    margin-top: 5px;

                    .new-tweet-btn{
                      border-radius: 100px;
                      background: #03F754;
                      padding: 6px 10px;
                      font-weight: bold;

                      .text{
                        color: white;
                      }
                    }
                  }
                }
              }
            }
        }
      }
}
