=render 'user-topbar'
.page-container
  .ProfileCanopy-header-box
    .ProfileCanopy-header-box--inner
      .ProfileCanopy-header
        .AppContainer
          .ProfileCanopy-avatar
            .ProfileAvatar
              %img{src: "081A9218.JPG", size: '200x200'}/
      .ProfileCanopy-navBar
        .navBar-container
          .navBar-container--child
            .navBar-container--child__mini
              .Profile-nav
                %ul.Profile-nav--list
                  %li.Profile-nav--item.Profile-nav--item__tweets
                    %a.ProfileNav-stat
                      %span.ProfaileNav-label
                        ツイート
                      %span.ProfaileNav-value
                        1990
                  %li.Profile-nav--item.Profile-nav--item__following
                    %a.ProfileNav-stat
                      %span.ProfaileNav-label
                        フォロー
                      %span.ProfaileNav-value
                        666
                  %li.Profile-nav--item.Profile-nav--item__followers
                    %a.ProfileNav-stat
                      %span.ProfaileNav-label
                        フォロワー
                      %span.ProfaileNav-value
                        90
                  %li.Profile-nav--item.Profile-nav--item__favorites
                    %a.ProfileNav-stat
                      %span.ProfaileNav-label
                        いいね
                      %span.ProfaileNav-value
                        123
                  %li.Profile-nav--item.Profile-nav--item__list
                    %a.ProfileNav-stat
                      %span.ProfaileNav-label
                        リスト
                      %span.ProfaileNav-value
                        8
                  %li.Profile-nav--item.Profile-nav--item__moments
                    %a.ProfileNav-stat
                      %span.ProfaileNav-label
                        モーメント
                      %span.ProfaileNav-value
                        9
                  %li.Profile-nav--item.Profile-nav--item__UserEdit
                    .edit-action
                      .edit-button
                        = link_to edit_user_path(current_user) do
                          プロフィール編集
  .AppContainer
    .AppContainerMain
      .AppContainerMain--left
        .LeftContent
          .LeftContentInner
            .LeftContentInner--Profile
              .Profile-name
                Sesh
              .Profile-nickname
                @seshshshs
              .Profile-location
                japan
              .profile-joinDate
                2010年7月に登録
            .LeftContentInner--Pic
              .PicHeader
                .PicHeader--icon
                .PicHeader--title
                  画像と動画
              .PicBox

      .AppContainerMain--right
        .RightContent-tweets
          .TweetsHeader
            .TweetsHeaderSpace
              .TweetsHeader-menu
                .TweetsHeader-menu--tweets
                  ツイート
                .TweetsHeader-menu--tweetsAndreply
                  ツイートと返信
                .TweetsHeader-menu--media
                  メディア
          .tweet
            .profile-pic
              %img{:alt => "", :src => "foo.png"}/
            .user-info
              .user-name
                jojo
              .user-nickname
                @jojojojo
              .time
                12345日
            .tweet-text
              今年も残り4か月！
            .tweet-pic
            .tweet-footer
              .tweet-footer__reply
                .tweet-footer__reply--button
                  %i.fa.fa-comment-o
                .tweet-footer__reply--count
                  12
              .tweet-footer__retweet
                .tweet-footer__retweet--button
                  %i.fa.fa-retweet
                .tweet-footer__retweet--count
                  43
              .tweet-footer__favorite
                .tweet-footer__favorite--button
                  %i.fa.fa-thumbs-o-up
                .tweet-footer__favorite--count
                  666
              .tweet-footer__dm
                .tweet-footer__dm--button
                  %i.fa.fa-envelope-o
                .tweet-footer__dm--count
                  888
                  .RightContent-right
      .sidebar-right
        .sidebar-right--top
          .sidebar-right--top--recomend
            %h2.recomend-user
              おすすめユーザー
            .sidebar-right--top--recomend-list
              %li.update
                更新する
              %li.see
                全てを見る
          .sidebar-right--top--list
            .profile-content
              %a.friends{:href => ""}
                %img{:alt => "", :src => ""}
              .profile-card-user-fields
                .profile-card-username
                  kkkkkkkk
                .profile-card-id-name
                  @milf
          .sidebar-right--top--find
            知り合いを見つけましょう
        .sidebar-right--bottom
          .sidebar-right--bottom--list
            %li.about
              twitter
            %li.about
              twitter
            %li.about
              twitter
            %li.about
              twitter
          .sidebar-right--bottom--advertisement
            Twitter広告

