.followings-followers{
  border-radius: 50%;
  width: 198px;
  height:198px;
  background-color: #fff;
  margin: 10px;
  float: left;
  .user.detail{
    position: relative;
    top: 120px;
    right: -170px;
  }
}
