.followings-followers{
  border-radius: 50%;
  width: 198px;
  height:198px;
  background-color: #fff;
  margin: 10px;
  float: left;
  .followings-followers--profile-pic img{
    border-radius: 50%;
    position: absolute;
    z-index: 1;
  }
  .followings-followers--user-info{
    .user{
      z-index: 2;
      position: relative;
    }
    .user.detail{
      position: relative;
      top: 120px;
      right: -170px;
    }
  }

}
