.page-container{
  margin: 46px 0 0;
  height: 100%;
  .ProfileCanopy-header-box{
    height: 320px;
    padding-bottom: 70px;
    .ProfileCanopy-header-box--inner{
      height: 100%;
      width: 100%;
      .ProfileCanopy-header{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 320px;
        width: 100%;
        overflow: hidden;
        .AppContainer{
          height: 100%;
          position: absolute;
          max-width: 1190px;
          margin: 0 auto;
          top: -120px;
          left: 150px;
          .ProfileCanopy-avatar{
            bottom: 200px;
            left: 10px;
            position: absolute;
            transition: bottom .3s;
            z-index: 3;
            .ProfileAvatar{
              background: #fff;
              border: 5px solid #fff;
              border-radius: 50%;
              height: 200px;
              position: relative;
              width: 200px;
              .ProfileAvatarImage img{
                border-radius: 50%;
              }

            }
          }
        }
      }
    }
    .ProfileCanopy-navBar{
      background-color: #fff;
      .navBar-container{
        max-width: 1190px;
        margin: 0 auto;
        .navBar-container--child{
          margin: 0 -5px;
          .Profile-nav{
            margin-left: 30%;
            height: 60px;
            width: 100%;
            .Profile-nav--item{
              display: inline-block;
              &__UserEdit{
              box-sizing: border-box;
              height: 30px;
              border: 1px solid #e6ecf0;
              border-radius: 15px;
              left: 150px;
              position: relative;
                .edit-button{
                box-shadow: none;
                cursor: pointer;
                font-size: 14px;
                font-weight: bold;
                line-height: 20px;
                padding: 6px 16px;
                position: relative;
                text-align: center;
                white-space: nowrap;
                }
              }
              .ProfileNav-stat{
                height: 60px;
                border-bottom: 0 solid;
                line-height: 1;
                padding: 15px 20px 7px 0px;
                box-sizing: border-box;
                .ProfaileNav-label{
                  font-weight: bold;
                  font-size: 12px;
                  color: #657786;
                  display: block;
                  @include clearfix();
                  a{
                    text-decoration: none;
                    color: #657786;
                  }
                }
                .ProfaileNav-value{
                  font-weight: bold;
                  padding-top: 3px;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
  }
  .AppContainer{
    max-width: 1190px;
    margin: 0 auto;
    height: 100%;
    .AppContainerMain{
      float: none;
      height: 100%;
      .AppContainerMain--left{
        padding: 0 5px;
        float: left;
        width: 25%;
        .LeftContent{
          margin: 0 -5px;
          .LeftContentInner{
            padding: 0 5px;
            .LeftContentInner--Profile{
              margin: 35px 0 16px 0;
              padding: 0 15px 0 15px;
              .Profile-name{
                line-height: 1px;
                margin-bottom: 15px;
                font-weight: bold;
              }
              .Profile-nickname{
                margin-bottom: 15px;
              }
              .Profile-location{
                margin-bottom: 8px;
              }
              .profile-joinDate{
                margin-bottom: 8px;
              }
            }
            .LeftContentInner--Pic{
              margin: 16px 0 16px 0;
              padding: 0 15px 0 15px;
              .PicHeader{
                margin-bottom: 8px;
                .PicHeader--title{
                  line-height: 1;
                }
              }
              .PicBox{
                margin: 0 0 0 -8px;
                max-height: 178px;
                overflow: hidden;
                padding-left: 8px;
                &--pic img{
                  border-radius: 5px;
                  margin-bottom: -5px;

                }
              }
            }
          }
        }
      }
      .AppContainerMain--right{
        padding: 0 5px;
        float: left;
        width: 55%;
        .TweetsHeader{
          margin-bottom: -1px;
          @include clearfix();
          .TweetsHeaderSpace{
            margin-top: 0px;
            .TweetsHeader-menu{
              background-color: #fff;
              border: 1px solid #e6ecf0;
              margin-bottom: -1px;
              @include clearfix();
              &--tweets{
                float: left;
                padding: 15px 15px 12px;
                font-weight: bold;
              }
              &--tweetsAndreply{
                float: left;
                padding: 15px 15px 12px;
                font-weight: bold;
              }
              &--media{
                float: left;
                padding: 15px 15px 12px;
                font-weight: bold;
              }
            }
          }
        }
        .tweet{
          border: 1px solid #e6ecf0;
          background-color: #fff;
          position: relative;
          .profile-pic img{
            border-radius: 50%;
            height: 50px;
            width: 50px;
            float:left;
            margin-right: 20px;
            margin-top: 10px;
            margin-left: 10px;
          }
          .user-info{
            @include clearfix();
            margin-left: 50px;
            .user{
              font-size: 12px;
              float:left;
              margin-left: 10px;
            }
            .user-nickname{
              color: gray;
            }
            .user-time{
              color: gray;
            }
          }
          .tweet-text{
            margin-left: 50px;
          }
          .tweet-pic{
            margin-left: 50px;
          }
          .tweet-footer{
            @include clearfix();
            margin-left: 50px;
              &__reply{
                  &--button{
                    float: left;
                  }
                  &--count{
                    float:left;
                    margin: 0 5px 0 5px;
                  }
              }
              &__retweet{
                float: left;
                &--button{
                    float: left;
                  }
                  &--count{
                    float:left;
                    margin: 0 5px 0 5px;
                  }
              }
              &__favorite{
                float: left;
                &--button{
                    float: left;
                  }
                  &--count{
                    float:left;
                    margin: 0 5px 0 5px;
                  }
              }
              &__dm{
                float: left;
                &--button{
                    float: left;
                  }
                  &--count{
                    float:left;
                    margin: 0 5px 0 5px;
                  }
              }
          }

        }
      }
    }
  }
}

